.equipment {
	display: grid;
}

.equipmentContainer {
	display: grid;
	grid-template-columns: 33% 33% 32.5%
}

.templatesContainer {
	display: grid;
	grid-template-columns: 30% 69%;
}

.template {
	display: grid;
	margin:2px;
}

.mainContainer {
	max-width:600px;
}